parameters:
    level: 2
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
