services:
    _defaults:
        public: false
        autowire: false
        autoconfigure: false

    Helis\SettingsManagerBundle\Settings\SettingsAwareServiceFactory:
        arguments:
            $settingsRouter: '@Helis\SettingsManagerBundle\Settings\SettingsRouter'
        calls:
            - [setLogger, ['@?settings_manager.logger']]

    Helis\SettingsManagerBundle\Settings\SettingsStore:
      tags:
        - { name: kernel.reset, method: 'reset' }

    Helis\SettingsManagerBundle\Settings\ProvidersManager:
        arguments:
            $settingsManager: '@Helis\SettingsManagerBundle\Settings\SettingsManager'

    Helis\SettingsManagerBundle\Settings\EventManager:
        arguments:
            $eventDispatcher: '@event_dispatcher'

    Helis\SettingsManagerBundle\Settings\EventManagerInterface: '@Helis\SettingsManagerBundle\Settings\EventManager'
