name: PHPUnit

on: [push]

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v6
      with:
        version: 2
        php_version: 7.4
    - uses: php-actions/phpunit@v3
      with:
        version: 9.5
        php_version: 7.4
        configuration: phpunit.xml.dist
        bootstrap: vendor/autoload.php
